html {
    background-color: #3e5667;
    margin: 0;
    padding: 0;
}
body {
    background-color: #3e5667;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: monospace, monospace, monospace;
}
header {
    color: #ffffff;
    position: relative;
    width: 100vw;
}
header a {
    color: #ffffff;
}
header span a {
    text-decoration: none;
    display: block;
    font-size: 10vh;
    text-align: center;
    border-bottom: 0.25vh solid #ffffff;
}
header nav {
    font-size: 3.5vh;
    text-align: center;
    border-bottom: 0.25vh solid #ffffff;
    position: relative;
}
header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
header nav ul li {
    float: left;
    border-right: 0.1vw solid #ffffff;
}
li:last-child {
    border-right: none;
}
header nav ul li a {
    text-decoration: none;
    padding-left: 1vw;
    padding-right: 1vw;
}
div {
    margin: 0;
    padding: 0;
}
div h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    text-decoration: underline;
}
div p {
    text-align: center;
}
div h2 {
    text-align: center;
    text-decoration: underline;
}
div ol {
    text-align: center;
    list-style-position: inside;
    padding: 0;
}
footer {
    color: #ffffff;
    width: 100vw;
    position: fixed;
    bottom: 0;
    border-top: 0.25vh solid #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 3.5vh;
}