<h1>About</h1>
<p><b>Safe-Bank</b> was setup in @DateTime.Now.AddYears(-7) as the worlds first supper secure online bank. Today you are bleave we have got to the point where we have acheave are goal so sign up, login and start securing your money.</p>

